* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #123456;
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid #888;
}

nav .logo {
    position: absolute;
    left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    text-decoration: none;
    margin-right: 50px;
}

nav ul li {
    color: bisque;
    font-size: 20px;
}

section {
    width: 100%;
    padding: 40px;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-items {
    width: 300px;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #f9f4f4;
    border-radius: 10px;
    text-align: center;
}

.product-items h4 {
    color: #123456;
    font-size: 20px;
    text-transform: capitalize;
}

.product-card {
    margin-top: 10px;
}

.image {
    width: 100px;
    height: auto;
}

.id {
    color: #ffdd57;
    font-size: 14px;
}

.price {
    color: #00ff00;
    font-size: 18px;
    font-weight: bold;
}

.desc {
    color: #000;
    margin-top: 10px;
}

.rating {
    margin-top: 10px;
    color: #ff6347;
    font-weight: bold;
}
